<div class="jumbotron">
  <h1>С Днем Рождения!!</h1>

  <p class="lead">
    Слава, мы однажды где-то подслушали, что, оказывается, лучший подарок это книга.
  </p>
  <p class="lead">
    Именно поэтому лучшие девелоперы канувшего в лету проекта GridHub длинными долгими ночами писали для тебя эксклюзивный сервис по исполнению книжных желаний.
  </p>
  <p class="lead">
    Просто жми большую зеленую кнопку и рассказывай, чего тебе надобно.
    Об остальном позаботится наш уникальный сервис.
  </p>

  <p><a class="btn btn-lg btn-success" href="<%= new_book_wish_path %>" role="button">Хочу книгу!</a></p>
</div>

<div class="jumbotron">
  <h4>P.S. В безобразии поучавствовали:</h4>
  <p class="lead">Артемий, Алексей, Асель, Василиса, Илья, Роман</p>
</div>
